.gallery-item {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;

  &:hover .gallery-item-info,
  &:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.gallery-item-info {
  display: none;

  li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
  }
}

.gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
  transform: rotateY(180deg);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@supports (display: grid) {
  .gallery-item {
    width: auto;
    margin: 0;
  }
}


.modal {
  &__content {
    display: flex;
    height: 100%;
  }

  &__image {
    width: 500px;
    height: 500px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100%;
  }

  &__main-section {
    flex: 1 0 auto;
  }

  &__comments-list {
    padding: 10px 0;
  }

  &__footer {
    flex: 0 0 auto;
    border-top: #e2e2e2 solid 1px;
  }

  &__control {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;

    .far {
      font-size: 2rem;
      margin: 10px;
      color: #747474;
    }
  }

  &__form-comment {
    position: relative;
    width: 300px;
    margin: 0 auto;
    border-top: #e2e2e2 solid 1px;
  }
}

.comment__input, .comment__button {
  border: none;
  outline: none;
  background: transparent;
}

.comment__input {
  width: 100%;
  height: 45px;
}

.comment__button {
  height: 45px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 50px;
  cursor: pointer;

  &:before {
    content: "Отправить";
    color: #4d90fe;
  }
}

.avatar-block {
  display: flex;
  align-items: center;

  &_header {
    border-bottom: #e2e2e2 solid 1px;
    padding: 10px 0;
  }

  &__text {
    margin: 0 20px;
    line-height: 16px;

  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: 20px;
}

.text {
  font-size: 1.4rem;
  word-break: break-all;

  &_header {
    font-weight: 600;
  }

  &_margin {
    margin-right: 3px;
  }

  &_secondary {
    color: #848484;
    font-size: 1rem;
  }
}

.padding-w {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-h {
  padding-top: 5px;
  padding-bottom: 5px;
}


