@import "../../assets/base";

.auth-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  text-align: center;
  color: $darkColor;
  font-size: 28px;
  float: left;
  width: 100%;
  margin: 30px 0;
  position: relative;
  line-height: 58px;
  font-weight: 400;
}

h2:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100px;
  height: 2px;
  background-color: $darkColor;
  margin-left: -50px;
}

.button-send {
  display: inline-block;
  color: $mainColor;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 1.5px solid;
  border-radius: 1px;
  transition: 0.2s;
  margin: 20px 3%;
  background: white;

  &:hover {
    background: #e9e9e9;
  }

  &:active {
    background: $mainColor;
    color: white;
  }
}
